<!doctype html>
<html class="fixed">
<head>

    <!-- Basic -->
    <meta charset="UTF-8">

    <title>Advanced Tables | Okler Themes | Porto-Admin</title>
    <meta name="keywords" content="HTML5 Admin Template" />
    <meta name="description" content="Porto Admin - Responsive HTML5 Template">
    <meta name="author" content="okler.net">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Web Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/assets/vendor/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/assets/vendor/magnific-popup/magnific-popup.css" />
    <link rel="stylesheet" href="~/assets/vendor/bootstrap-datepicker/css/datepicker3.css" />

    <!-- Specific Page Vendor CSS -->
    <link rel="stylesheet" href="~/assets/vendor/select2/select2.css" />
    <link rel="stylesheet" href="~/assets/vendor/jquery-datatables-bs3~/assets/css/datatables.css" />
    <link rel="stylesheet" href="~/assets/vendor/pnotify/pnotify.custom.css" />



    <!-- Specific Page Vendor CSS -->
    <link rel="stylesheet" href="~/assets/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css" />
    <link rel="stylesheet" href="~/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css" />
    <link rel="stylesheet" href="~/assets/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css" />
    <link rel="stylesheet" href="~/assets/vendor/bootstrap-colorpicker/css/bootstrap-colorpicker.css" />
    <link rel="stylesheet" href="~/assets/vendor/bootstrap-timepicker/css/bootstrap-timepicker.css" />
    <link rel="stylesheet" href="~/assets/vendor/dropzone/css/basic.css" />
    <link rel="stylesheet" href="~/assets/vendor/dropzone/css/dropzone.css" />
    <link rel="stylesheet" href="~/assets/vendor/bootstrap-markdown/css/bootstrap-markdown.min.css" />
    <link rel="stylesheet" href="~/assets/vendor/summernote/summernote.css" />
    <link rel="stylesheet" href="~/assets/vendor/summernote/summernote-bs3.css" />
    <link rel="stylesheet" href="~/assets/vendor/codemirror/lib/codemirror.css" />
    <link rel="stylesheet" href="~/assets/vendor/codemirror/theme/monokai.css" />

    <!--Loading-->>
    <link rel="stylesheet" href="~/css/loading/loading.css" />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/assets/stylesheets/theme.css" />

    <!-- Skin CSS -->
    <link rel="stylesheet" href="~/assets/stylesheets/skins/default.css" />

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="~/assets/stylesheets/theme-custom.css">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />


    <!-- Head Libs -->
    <script src="~/assets/vendor/modernizr/modernizr.js"></script>

    <!--子布局需要引用Css时 需要写section header-->>
    @RenderSection("header", false)
</head>
<body>
    <section class="body">

        <!-- start: header -->
        <header class="header">
            <div class="logo-container">
                <a href="../" class="logo">
                    <img src="~/assets/images/logo.png" height="35" alt="Porto Admin" />
                </a>
                <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                    <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                </div>
            </div>

            <!-- start: search & user box -->
            <div class="header-right">

                <div id="userbox" class="userbox">
                    <a href="#" data-toggle="dropdown">
                        <figure class="profile-picture">
                            <img src="~/assets/images/!logged-user.jpg" alt="Joseph Doe" class="img-circle" data-lock-picture="~/assets/images/!logged-user.jpg" />
                        </figure>
                        <div class="profile-info" data-lock-name="John Doe" data-lock-email="johndoe@okler.com">
                            <span class="name">@ViewData["UserName"]</span>
                            <span class="role">@ViewData["RoleName"]</span>
                        </div>

                        <i class="fa custom-caret"></i>
                    </a>

                    <div class="dropdown-menu">
                        <ul class="list-unstyled">
                            <li class="divider"></li>
                            <li>
                                <a role="menuitem" tabindex="-1" href="/User/UpdateUserView"><i class="fa fa-lock"></i> 修改密码</a>
                            </li>
                            <li>
                                <a role="menuitem" tabindex="-1" href="/Login/LogOut"><i class="fa fa-power-off"></i> 注销</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end: search & user box -->
        </header>
        <!-- end: header -->

        <div class="inner-wrapper">
            <!-- start: sidebar -->
            <aside id="sidebar-left" class="sidebar-left">

                <div class="sidebar-header">
                    <div class="sidebar-title">
                        导航栏
                    </div>
                    <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
                        <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                    </div>
                </div>

                <div class="nano">
                    <div class="nano-content">
                        <nav id="menu" class="nav-main" role="navigation">
                            @Html.Raw(ViewData["NavigationBar"])
                            @*@Html.Raw(HttpUtility.HtmlDecode(ViewData["NavigationBar"].ToString().Trim()));*@
                        </nav>
                    </div>

                </div>

            </aside>
            <!-- end: sidebar -->
            <div id="workFrame">
                @RenderBody()
            </div>
        </div>

    </section>

    <!-- Vendor 这段js只需要在母版页面中引用，其他页面引用后会导致js冲突-->
    <script src="~/assets/vendor/jquery/jquery.js"></script>
    <script src="~/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="~/assets/vendor/nanoscroller/nanoscroller.js"></script>
    <script src="~/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/assets/vendor/magnific-popup/magnific-popup.js"></script>
    <script src="~/assets/vendor/jquery-placeholder/jquery.placeholder.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="~/assets/javascripts/theme.js"></script>



    <!-- Theme Custom -->
    @*<script src="~/assets/javascripts/theme.custom.js"></script>*@

    <!-- Theme Initialization Files -->
    @*<script src="~/assets/javascripts/theme.init.js"></script>*@

    <!-- ajax跳转页面，实现局部刷新-->
    <script>

        //Ajax刷新页面
        function RedirectAjax(data) {
            var ajaxRefresh = "<section role=\"main\" class=\"content-body\"><div class=\"loadEffect\" id=\"loading\">";
            ajaxRefresh += "<span></span>";
            ajaxRefresh += "<span></span>";
            ajaxRefresh += "<span></span>";
            ajaxRefresh += "<span></span>";
            ajaxRefresh += "<span></span>";
            ajaxRefresh += "<span></span>";
            ajaxRefresh += "<span></span>";
            ajaxRefresh += "<span></span>";
            ajaxRefresh += "</div></section>";

            $("#workFrame").html(ajaxRefresh);
            var id = data.id;
            var url = document.getElementById(id).getAttribute("name");
            $.ajax({
                async: true,
                type: "POST",
                url: url,
                cache: false,
                data: {},
                success: function (result) {
                    console.log(result);
                    $("#workFrame").html(result);
                }
            });
        }

        //跳转指定url，返回View
        function RedirectByUrl(url) {
            $.ajax({
                async: true,
                type: "POST",
                url: url,
                cache: false,
                data: {},
                success: function (result) {
                    $("#workFrame").html(result);
                }
            });
        }
    </script>

</body>
</html>